@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Kumbh Sans", sans-serif;
  position: relative;
}

ul li {
  list-style: none;
  font-style: normal;
  cursor: pointer;
}

@media (min-width: 1024px) {
  body {
    /* padding: 28px 50px 132px; */
    padding: 0px 50px 132px;
  }
}

@media (min-width: 1440px) {
  body {
    padding: 0px 165px 132px;
  }
}
